*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
.*.swp
[Tt]humbs.db
*.obj
*.ipch
*.exe
*.log
*.tlog
*.lastbuildstate
*.enc
*.idb
*.pdb
*.ipdb
*.iobj
*.suo
*.db
*.ilk
*.vs*
*.FileListAbsolute.txt